<ul>
    <li><a href="{{ path('cache_expire_max_age') }}">Max age</a></li>
    <li><a href="{{ path('cache_expire_date') }}">Expire date</a></li>
    <li><a href="{{ path('cache_esi') }}">Esi</a></li>
    <li><a href="{{ path('cache_expire_max_age_hour') }}">Max age 1 hour</a></li>
    <li><a href="{{ path('cache_invalidation') }}">Invalidation</a></li>
</ul>
